/*
  Off-white (Page Background) = #f4f4f4
  White (Widget Background) = #ffffff
  Dark Grey (Text, Secondary Buttons) = #474c55
  Green (Primary Buttons, Widget Title) = #6db420
  Yellow (Tertiary Buttons, Page Border) = #fec01e
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --off-white: #f4f4f4;
  --white: #ffffff;
  --dark-grey: #474c55;
  --green: #6db420;
  --yellow: #fec01e; }

body {
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',  sans-serif; }

.display--flex {
  display: flex; }

.display--block {
  display: block; }

.align-self--center {
  align-self: center; }

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: var(--dark-grey); }

.text--decoration-none {
  text-decoration: none; }

.text--indent {
  text-indent: -10000000px; }

.text--transform-uppercase {
  text-transform: uppercase; }

.text--transform-capitalize {
  text-transform: capitalize; }

input .error {
  box-shadow: 0 0 20px var(--yellow); }
