/*
  Off-white (Page Background) = #f4f4f4
  White (Widget Background) = #ffffff
  Dark Grey (Text, Secondary Buttons) = #474c55
  Green (Primary Buttons, Widget Title) = #6db420
  Yellow (Tertiary Buttons, Page Border) = #fec01e
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --off-white: #f4f4f4;
    --white: #ffffff;
    --dark-grey: #474c55;
    --green: #6db420;
    --yellow: #fec01e;
}

body {
  background-color: var(--off-white);
  margin:0;
  padding:0;
  font-family: 'Open Sans',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page-header {
  font-size: 34px;
  margin: 50px 0;
}
.page-paragraph {
  font-size: 24px;
  margin: 10px 0 30px 0;
  color: var(--dark-grey)
}

.display {
  &--flex {
    display: flex;
  };
  &--block {
    display: block;
  }
  &--inline-block {
    display: inline-block;
  }
}

.space-between {
  justify-content: space-between;
}

.align-self {
  &--center {
    align-self: center;
  }
  &--flex-end{
    align-self: flex-end;
  }
  &--flex-start{
    align-self: flex-start;
  }
}

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
  &:hover {
    color: black;
  }
}

.text {
  &-weight {
    &--bold {
      font-weight: bold;
    }
  }
  &-align {
    &--center {
      text-align: center;
    }
  }
  &--decoration-none {
    text-decoration: none
  }
  &--indent {
    text-indent: -10000000px;
  }
  &-transform {
    &--uppercase {
      text-transform: uppercase;
    }
    &--capitalize {
      text-transform: capitalize;
    }
  }
}

input.error {
  box-shadow: 0 0 20px var(--yellow);
  background: var(--yellow);
}


