footer {
  width: 100%;
  min-height: 275px;
  background: var(--dark-grey);
  ul:last-child {
    margin: 0;
    li {
      margin: 0
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 120px 0 0;
    color: white;
    li {
      margin: 5px 20px 0 0;
    }
  }
  a {
    color: white;
    &:hover {
      color: var(--yellow)
    }
  }
}